.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 60%;
}

.mySwiper {
  overflow: hidden;
  max-height: 40rem;
  display: flex;
  align-items: center;
}